* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    min-width: auto;
}

#ico1 {
    display: none;
}

#firnav {
    height: 44px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 20.97px;
    color: #FFFFFF;
    font-family: Arabic UI Display;
    line-height: 20.97px;
    flex-wrap: wrap;
}

.firnav2 {
    display: flex;
    flex-wrap: wrap;
}

#alllove2 {
    font-weight: 700;
    font-size: 16px;
}

.nav {
    display: flex;
    height: 70%;
    align-items: center;
    flex-wrap: wrap;
}

#genius {
    width: 300px;
    height: 45px;
}

header {
    height: 170px;
    width: auto;
    font-family: Arabic UI Display;
    flex-wrap: wrap;
}

#nav2 {
    display: flex;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    font-weight: bold;
    gap: 63px;
}

.sing {
    display: flex;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    font-weight: bold;
    width: 25%;
    height: 42px;
}

#now21 {
    width: 60%;
    align-items: center;
}

#now22 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #F04B25;
    width: 50%;
    height: 45px;
    border-radius: 22.5px;
}

@media only screen and (max-width: 767px) {

    /* For mobile phones: */
    #im1 {
        width: 40%;
        height: 50%;
        display: flex;
        align-self: center;
        padding-left: 6rem;
    }

    #nav2 {
        display: none;
    }

    #now21,
    #now22 {
        display: none;
    }

    #ico1 {
        display: inline;
    }


}

@media only screen and (max-width: 1200px) {

    #now21,
    #now22 {
        display: none;
    }

    .nav {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    #nav2 {
        margin-top: 2rem;
    }

    .sing {
        margin-top: 1rem;
        width: 13%;
    }

    #ico1 {
        display: inline;

    }

}

/* end of the headr and nav */



.smallgir24 {
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-weight: 700;
    font-style: normal;
    size: 65px;
    line-height: 101.21px;
    flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {


    .smallgir24 {
        width: 97%;
        font-size: 30px;
    }

    #grow1 {
        font-size: 38px;
        line-height: 56px;
    }


}

@media only screen and (min-width: 768px) and (max-width: 1200px) {


    .smallgir24 {
        width: 49%;
        font-size: 30px;
    }

    #grow1 {
        font-size: 39px;
        line-height: 60px;
    }

}


/* secondclass */
.biGico {

    height: 100%;
    text-align: right;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    width: 91%;

    font-weight: 300;
    font-size: 16px;
    text-align: right;
    color: #818181;
}

@media only screen and (max-width: 767px) {

    .biGico {
        width: 75%;
        font-size: 57%;
    }

    #hed99 {
        width: 130%;
    }

    #lasphft {
        padding-bottom: 1rem;
        width: 90%;
        height: 100%;
    }
}

.sg5 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #F04B25;
    width: 86%;
    height: 57px;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    border-radius: 33px;
}

@media only screen and (max-width: 767px) {

    .clss89 {
        font-size: 80%;
    }

    .sg5 {
        font-size: 90%;
    }

    .card-body2 {
        width: 100%;
        font-size: 60%;
    }

    .card-title2 {
        font-size: 10px;
        width: 80%;
    }

    #grow1 {
        font-size: 23px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    #grow1 {
        margin-left: 40px;
    }

    clss89 {
        font-size: 80%;
    }

    .sg5 {
        font-size: 90%;
    }

    .card-body2 {
        width: 100%;
        font-size: 60%;
    }

    .card-title2 {
        font-size: 10px;
        width: 80%;
    }


}



/* Footer */
.footer2 {
    display: flex;
    height: 460px;
    width:
        93%;
    margin-left: 2.5rem;
    margin-bottom: 3rem;
    background: #F04B25;
    border-radius: 1px;
    color: white;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.coll12 {
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    line-height: 30px;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.biGico2 {
    margin-top: 3rem;
    height: 100%;
    text-align: right;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 15px;
    font-weight: 400;
}

@media only screen and (max-width: 767px) {
    .footer2 {
        margin-top: 50px;
        height: 30%;
        width: 88%;

    }

    .fotronhide2 {
        display: none;
    }

    #lasphft2 {
        padding-bottom: 1rem;
        width: 90%;
        height: 100%;
    }
}

/* Footer END */